@using Models;


<div class="raster">
    @for (int i = 0; i < Raster.Col; i++)
    {
        <div class="raster-row">
            @for (int j = 0; j < Raster.Row; j++)
            {
                //int pixelColor = 
                <div class="pixel" style="background-color:rgba(0,0,0,@((double)Raster.Grid[i,j].Color / Raster.MaxColor));">@Raster.Grid[i, j].Color</div>
            }
        </div>
    }
</div>

@code {
    [Parameter] public Raster Raster { get; set; }
}
