.raster {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.raster-row {
    display: flex;
    flex-direction: row;
}

.pixel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
