@using Models
@using graphics_encoding.Components
@using Microsoft.AspNetCore.Components

<div class="text-raster-pair">
    <div class="compressed-text">
        @if (@Raster.Grid is DuotoneGrid duotoneGrid)
        {
            <div class="first-color">
                První barva: @duotoneGrid.StartingColor;
            </div>
        }
        <div class="text-display pre-wrap">
            @Raster.Grid.CompressedString()
        </div>
    </div>
    <DisplayRaster Raster="Raster" ShowMismatchIndicators="ShowMismatchIndicators" />
</div>

@code {
    [Parameter] public ArrayRaster Raster { get; set; }
    [Parameter] public bool ShowMismatchIndicators { get; set; } = false;
}
