@page "/"

@using Models;
@using graphics_encoding.Components;

<PageTitle>Graphics Encoding</PageTitle>

<h1>Graphics Encoding</h1>

<DisplayRaster Raster="raster"/>
<br>
<DisplayRaster Raster="rasterSmiley"/>
<br>
<DisplayRaster Raster="rasterAssymetric"/>

@code {
    Raster raster = new Raster(5, 5);

    Raster rasterSmiley = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 1, 0, 1, 0},
        {0, 0, 0, 0, 0},
        {1, 0, 0, 0, 1},
        {0, 1, 1, 1, 0}
     });

    Raster rasterAssymetric = new Raster(new int[,] {
        {1, 1, 1, 1, 0},
        {0, 0, 0, 0, 1},
        {0, 1, 1, 1, 0}
     });
}