@page "/"

@using Models;
@using graphics_encoding.Components;

<PageTitle>Graphics Encoding</PageTitle>

<h1>Graphics Encoding</h1>

<DisplayRaster Raster="rasterSmiley" />
<DisplayRaster Raster="rasterSmileyBW" />
<DisplayRaster Raster="rasterMultipleDigits" />
<DisplayRaster Raster="rasterGreyscaleTest" />
<DisplayRaster Raster="rasterVertical" />
<DisplayRaster Raster="rasterValuesOnly" />
<DisplayRaster Raster="rasterColorOnly" />
<DisplayRaster Raster="rasterEmpty" />
<DisplayRaster Raster="rasterCat" />


@code {
    ArrayRaster rasterSmiley = new ArrayRaster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     });

    ArrayRaster rasterSmileyBW = new ArrayRaster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 1, 0, 1, 0},
        {0, 0, 0, 0, 0},
        {1, 1, 1, 1, 1},
        {0, 1, 1, 1, 0}
     });

    ArrayRaster rasterAssymetric = new ArrayRaster(new int[,] {
        {1, 1, 1, 1, 0},
        {0, 0, 0, 0, 1},
        {0, 1, 1, 1, 0}
     });

    ArrayRaster rasterMultipleDigits = new ArrayRaster(new int[,] {
        {1, 60, 1, 0},
        {0, 0, 255, 0},
        {0, 344, 1, 1}
     });

    ArrayRaster rasterGreyscaleTest = new ArrayRaster(new int[,] {
        {0, 16, 16*2, 16*3},
        {16*4, 16*5, 16*6, 16*7},
        {16*8, 16*9, 16*10, 16*11},
        {16*12, 16*13, 16*14, 16*15}
     });

    ArrayRaster rasterVertical = new ArrayRaster(new int[,] {
        {1, 60},
        {0, 0},
        {4, 12},
        {0, 344}
     });

    ArrayRaster rasterValuesOnly = new ArrayRaster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     }, true, false);

    ArrayRaster rasterColorOnly = new ArrayRaster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     }, false, true);

    ArrayRaster rasterEmpty = new ArrayRaster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     }, false, false);

    ArrayRaster rasterCat = new ArrayRaster(new int[,] {
        {0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0},
        {0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0},
        {0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0},
        {0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0},
        {0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0},
        {0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0},
        {0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0},
        {0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0},
        {0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0},
        {0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0},
        {0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0},
        {0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0},
        {0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0},
        {0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0},
        {0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0},
        {0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0}
    }, true, true, false);
}