@page "/"

@using Models;
@using graphics_encoding.Components;

<PageTitle>Graphics Encoding</PageTitle>

<h1>Graphics Encoding</h1>

<DisplayRaster Raster="rasterSmiley"/>
<br>
<DisplayRaster Raster="rasterSmileyBW" />
<br>
<DisplayRaster Raster="rasterMultipleDigits"/>
<br>
<DisplayRaster Raster="rasterGreyscaleTest"/>
<br>
<DisplayRaster Raster="rasterVertical"/>

<br>
<DisplayRaster Raster="rasterValuesOnly"/>

<br>
<DisplayRaster Raster="rasterColorOnly"/>

<br>
<DisplayRaster Raster="rasterEmpty" />


@code {
    Raster rasterSmiley = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     });

    Raster rasterSmileyBW = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 1, 0, 1, 0},
        {0, 0, 0, 0, 0},
        {1, 1, 1, 1, 1},
        {0, 1, 1, 1, 0}
     });

    Raster rasterAssymetric = new Raster(new int[,] {
        {1, 1, 1, 1, 0},
        {0, 0, 0, 0, 1},
        {0, 1, 1, 1, 0}
     });

     Raster rasterMultipleDigits = new Raster(new int[,] {
        {1, 60, 1, 0},
        {0, 0, 255, 0},
        {0, 344, 1, 1}
     });

     Raster rasterGreyscaleTest = new Raster(new int[,] {
        {0, 16, 16*2, 16*3},
        {16*4, 16*5, 16*6, 16*7},
        {16*8, 16*9, 16*10, 16*11},
        {16*12, 16*13, 16*14, 16*15}
     });

      Raster rasterVertical = new Raster(new int[,] {
        {1, 60},
        {0, 0},
        {4, 12},
        {0, 344}
     });

    Raster rasterValuesOnly = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     }, true, false);

    Raster rasterColorOnly = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     }, false, true);

    Raster rasterEmpty = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
     }, false, false);
}