@page "/image-coloring"

@using Models
@using graphics_encoding.Components
@using System.Collections.Generic

<PageTitle>Image Coloring</PageTitle>

<h1>Aktivita 1 - Obarvení obrázku</h1>

<DisplayRaster Raster="rasterValuesOnly" ShowMismatchIndicators="true" />

@code {
    ArrayRaster rasterValuesOnly = new ArrayRaster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
    }, true, false, true);
}