@page "/image-coloring"

@using Models
@using graphics_encoding.Components
@using System.Collections.Generic

<PageTitle>Image Coloring</PageTitle>

<h1>Image Coloring</h1>

<br>
<DisplayRaster Raster="rasterValuesOnly" ShowMismatchIndicators="true" />

@code {
    Raster rasterValuesOnly = new Raster(new int[,] {
        {0, 1, 0, 1, 0},
        {0, 2, 0, 2, 0},
        {0, 0, 0, 0, 0},
        {1, 4, 4, 4, 1},
        {0, 1, 1, 1, 0}
    }, true, false, true);
}
